@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 1.7;
}

a {
    text-decoration: underline;
}

ul {
    list-style-type :circle;
    margin-left: 20px;
}

ol {
    list-style-type:decimal;
    margin-left: 20px; 
}